<div class="footer bg-default text-center mt-5 text-muted">
     <% const date = new Date() %>
     
     <% const Year  = date.getFullYear() %>
     
    
    copyright &copy; yumustyung <%= Year %>
</div>